.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
*{
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

h1 {
  text-align:center;
}

.ellipsis {  overflow: hidden;  
 text-overflow: ellipsis; 
 display: -webkit-box; 
  -webkit-line-clamp: 1;  
  -webkit-box-orient: vertical;}